:root {
  --text: #000000;
  --line: #abc8e7;
  --linehover: #abc8e7;
  --bordercolor: #88b3e2;
  --linea: #88b3e2;
  --btncolor: #abc8e7;
  --btnhover: #88b3e2;
}
* {
  box-sizing: border-box;
}
body {
  /* overflow: hidden; */
}
@media (min-width: 768px) {
  body {
    overflow: unset;
  }
}
@media (min-width: 1200px) {
  body {
    overflow: unset;
  }
}
html {
  scroll-behavior: smooth;
  font-family: 'Roboto';
  color: #000000;
}
html,
body,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}
#overlay.active {
  display: block;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
a,
a:hover {
  text-decoration: none;
}
a {
  display: inline-block;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
svg {
  max-width: 100%;
}
button,
input {
  outline: none;
}
button {
  display: inline-block;
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
}
.container {
  width: 100%;
  max-width: 320px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  .container {
    max-width: 738px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
}
#page-nav {
  display: none;
}
@media (min-width: 1200px) {
  #page-nav {
    position: fixed;
    right: 50px;
    top: 50%;
    z-index: 1;
  }
}
#page-nav li {
  width: 12px;
  height: 12px;
  background-color: #ABC8E7;
  border-radius: 50%;
  margin-bottom: 15px;
  transition: 0.5s;
}
#page-nav li a {
  display: block;
  height: 100%;
}
#page-nav li.active {
  background-color: #FFCFB7;
  /*  background-color: #386696 */
}
.line-bottom {
  position: relative;
  z-index: 2;
  color: #000000;
  text-align: left;
  line-height: normal;
  text-decoration: uppercase;
}
.line-bottom::after {
  content: "";
  position: absolute;
  bottom: 7px;
  left: -5px;
  right: -5px;
  height: 12px;
  background-color: #c7daee;
  z-index: -1;
}
@media (min-width: 1200px) {
  .line-bottom::after {
    content: "";
    position: absolute;
    bottom: 17px;
    left: -5px;
    right: -5px;
    height: 12px;
    background-color: #c7daee;
    z-index: -1;
  }
}
.button {
  display: inline-block;
  height: 64px;
  line-height: 64px;
  border-radius: 31px;
  background-color: var(--btncolor);
  color: var(--text);
  font-size: 22px;
  font-weight: 700;
  letter-spacing: normal;
  text-align: center;
  padding-left: 42px;
  padding-right: 42px;
  margin-right: 19px;
  transition: 0.2s ease;
}
.button:hover {
  background-color: var(--btnhover);
  box-shadow: 0 2px 6px rgba(136, 154, 172, 0.6);
}
.button:active {
  background-color: #88b3e2;
  box-shadow: 0 2px 6px rgba(136, 154, 172, 0.6);
}
.light {
  color: #464646;
  background-color: #ffffff;
  line-height: 56px;
  border-width: 4px;
  border-style: solid;
  border-color: #abc8e7;
}
.light:hover {
  border-color: #88b3e2;
  color: #797979;
}
.light:active {
  border-color: #88b3e2;
  color: #181818;
}
.anim-show {
  opacity: 0;
  transition: 1s;
  animation: show 1s 1;
  animation-fill-mode: forwards;
  animation-delay: 1s;
}
@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.social-icons-item svg .icons-content-1 {
  fill: #000000;
  transition: 0.2s ease;
}
.social-icons-item:hover svg .icons-content-1 {
  fill: #6cc644;
  transform: scale(1.01);
}
.social-icons-item:active svg .icons-content-1 {
  fill: #6cc644;
  transform: scale(1.01);
}
.social-icons-item svg .icons-content-2 {
  fill: #039be5;
  transition: 0.2s ease;
}
.social-icons-item:hover svg .icons-content-2 {
  fill: #44b2e9;
  transform: scale(1.01);
}
.social-icons-item:active svg .icons-content-2 {
  fill: #44b2e9;
  transform: scale(1.01);
}
.social-icons-item .icons-content-3 {
  fill: #4d76a1;
  transition: 0.2s ease;
}
.social-icons-item:hover svg .icons-content-3 {
  fill: #86acda;
  transform: scale(1.01);
}
.social-icons-item:active svg .icons-content-3 {
  fill: #86acda;
  transform: scale(1.01);
}
.social-icons-item svg .icons-content-4 {
  fill: #3b5998;
  transition: 0.2s ease;
}
.social-icons-item:hover svg .icons-content-4 {
  fill: #486ab4;
  transform: scale(1.01);
}
.social-icons-item:active svg .icons-content-4 {
  fill: #486ab4;
  transform: scale(1.01);
}
li::selection {
  background: #FFEFD8;
}
p::selection {
  background: #FFEFD8;
}
.link-style {
  text-shadow: 0 3px 42px #ffffff;
  color: #000000;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 18px;
  text-align: left;
  text-decoration: none;
  transition: 0.2s ease;
  border-bottom: 2px solid #393f47;
}
.link-style:hover {
  border-color: #039be5;
  color: #039be5;
}
.link-style:active {
  border-color: #ea655f;
  color: #ea655f;
}
@media (min-width: 1200px) {
  .link-style {
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
  }
}
.link-style:active {
  color: #ea655f;
}
.seaction-header {
  max-width: 320px;
  padding-top: 50px;
  padding-bottom: 100px;
  color: #fff;
  font-family: 'Roboto';
  margin-left: auto;
  margin-right: auto;
  height: auto;
}
.seaction-header .button {
  display: none;
}
@media (min-width: 768px) {
  .seaction-header {
    max-width: 738px;
    padding-top: 27px;
    padding-bottom: 80px;
  }
}
@media (min-width: 1200px) {
  .seaction-header {
    position: relative;
    max-width: 1600px;
    background-image: url(../img/BG/01.bg.jpg);
    background-repeat: repeat-y;
    background-position: center;
    background-size: auto;
    padding-top: 70px;
    color: #fff;
    padding-bottom: 240px;
    font-family: 'Roboto';
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
  }
  .seaction-header .button {
    display: inline-block;
  }
}
.header-navigation {
  margin-bottom: 30px;
  position: relative;
  z-index: 10;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .header-navigation {
    margin-bottom: 67px;
  }
}
@media (min-width: 1200px) {
  .header-navigation {
    margin-bottom: 152px;
    position: relative;
    z-index: 10;
    padding-left: 15px;
    padding-right: 15px;
  }
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1430px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.logo-link {
  font-size: 38px;
  text-decoration: uppercase;
  font-weight: 900;
  color: #000000;
  letter-spacing: 1.2px;
}
.header-logo {
  position: relative;
  z-index: 2;
  font-size: 42px;
  text-decoration: uppercase;
  font-weight: 900;
  color: #000000;
  line-height: 1.2;
  letter-spacing: 1.2px;
}
@media (min-width: 768px) {
  .header-logo {
    font-size: 42px;
  }
}
@media (min-width: 1200px) {
  .header-logo {
    position: relative;
    z-index: 2;
    font-size: 42px;
    text-decoration: uppercase;
    font-weight: 900;
    color: #000000;
    line-height: 1.2;
    letter-spacing: 1.2px;
  }
}
.header-logo::after {
  content: "";
  position: absolute;
  bottom: 7px;
  left: -5px;
  right: -5px;
  height: 7px;
  background-color: #c7daee;
  z-index: -1;
}
@media (min-width: 1200px) {
  .header-logo::after {
    content: "";
    position: absolute;
    bottom: 7px;
    left: -5px;
    right: -5px;
    height: 10px;
    background-color: #c7daee;
    z-index: -1;
  }
}
.header-contacts {
  display: none;
}
@media (min-width: 1200px) {
  .header-contacts {
    display: block;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
.header-link {
  position: relative;
  font-weight: 700;
  margin-right: 74px;
  color: #000;
  font-size: 20px;
  line-height: 1.2;
  z-index: 2;
  letter-spacing: 1px;
}
.header-link:last-child {
  margin-right: 0;
}
.header-link::after {
  content: "";
  position: absolute;
  bottom: 5px;
  left: 0;
  width: 0;
  height: 5px;
  background-color: rgba(56, 102, 150, 0.4);
  transition: 0.5s;
  z-index: -1;
}
.header-link:hover:after {
  width: 110%;
  left: -5px;
  right: -5px;
}
.header-link:focus {
  border-top-style: dotted;
  border-bottom-style: dotted;
  border-left-style: dotted;
  border-right-style: dotted;
  border-color: #ea736d;
}
.header-link:active:after {
  bottom: 5px;
  height: 5px;
  left: -5px;
  right: -5px;
  background-color: #88b3e2;
  z-index: -1;
}
.header-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  display: none;
}
@media (min-width: 1200px) {
  .header-icons {
    display: block;
  }
}
.social-icons {
  max-width: 50px;
  height: auto;
  display: inline-block;
  margin-right: 17px;
}
.social-icons:last-child {
  margin-right: 0;
}
.social-icons:active {
  color: #0077b5;
}
.social-icons icon-3 {
  max-width: 50px;
}
.social-icons svg .icon-1 {
  fill: #000000;
  transition: 0.5s ease;
}
.social-icons:hover svg .icon-1 {
  fill: #0077b5;
  transform: scale(1.01);
}
.social-icons:active svg .icon-1 {
  fill: #0077b5;
  transform: scale(1.01);
}
.social-icons svg .icon-2 {
  fill: #000000;
  transition: 0.5s ease;
}
.social-icons:hover svg .icon-2 {
  fill: #6cc644;
  transform: scale(1.01);
}
.social-icons:active svg .icon-2 {
  fill: #6cc644;
  transform: scale(1.01);
}
.social-icons svg .icon-3 {
  fill: #000000;
  transition: 0.5s ease;
}
.social-icons:hover svg .icon-3 {
  fill: #45668e;
  transform: scale(1.01);
}
.social-icons:active svg .icon-3 {
  fill: #45668e;
  transform: scale(1.01);
}
.header-content-wrapper {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 2;
}
@media (min-width: 768px) {
  .header-content-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 2;
  }
}
@media (min-width: 1200px) {
  .header-content-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 2;
  }
}
.header-title {
  font-family: 'Roboto', sans-serif;
  color: #000000;
  font-size: 42px;
  font-weight: 800;
  text-align: left;
  line-height: 1.2;
  letter-spacing: 1.2px;
  margin-bottom: 25px;
}
@media (min-width: 768px) {
  .header-title {
    font-size: 52px;
    margin-bottom: 15px;
  }
}
@media (min-width: 1200px) {
  .header-title {
    font-family: 'Roboto', sans-serif;
    color: #000000;
    font-size: 90px;
    font-weight: 800;
    text-align: left;
    line-height: normal;
    margin-bottom: 12px;
  }
}
.header-block-text {
  width: 100%;
}
@media (min-width: 768px) {
  .header-block-text {
    width: 50%;
  }
}
@media (min-width: 1200px) {
  .header-block-text {
    display: block;
    width: 50%;
  }
}
.header-text {
  color: #000000;
  text-shadow: 0 3px 42px #ffffff;
  color: #393f47;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  letter-spacing: normal;
  line-height: 30px;
  text-align: left;
  margin-bottom: 33px;
}
@media (min-width: 768px) {
  .header-text {
    width: 330px;
    margin-bottom: 0;
  }
}
@media (min-width: 1200px) {
  .header-text {
    color: #000000;
    text-shadow: 0 3px 42px #ffffff;
    color: #393f47;
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    letter-spacing: normal;
    line-height: 36px;
    text-align: left;
    margin-bottom: 33px;
    width: 100%;
  }
}
.header-img {
  width: 100%;
  height: auto;
  position: relative;
  max-width: 100%;
  z-index: 2;
  margin-bottom: 52px;
}
.header-img img {
  width: 100%;
  max-width: 290px;
  height: 290px;
  object-fit: cover;
}
@media (min-width: 768px) {
  .header-img {
    width: 50%;
    position: relative;
    max-width: 100%;
    height: auto;
    z-index: 2;
    text-align: center;
    margin-bottom: 0;
    padding-left: 12px;
  }
}
@media (min-width: 1200px) {
  .header-img {
    width: 50%;
    position: relative;
    max-width: 100%;
    height: auto;
    z-index: 2;
    text-align: right;
    padding-left: 0;
  }
  .header-img img {
    padding-top: 22px;
    max-width: unset;
    width: 457px;
    height: 432px;
    margin-bottom: 0;
    object-fit: cover;
    vertical-align: bottom;
  }
}
.header-img::before {
  content: "";
  display: block;
  position: absolute;
  top: 10%;
  left: 10%;
  width: 100%;
  height: 100%;
  background-color: rgba(244, 248, 249, 0.5);
  z-index: -1;
}
@media (min-width: 1200px) {
  .header-img::before {
    content: "";
    display: block;
    position: absolute;
    top: 30%;
    left: 30%;
    width: 100%;
    height: 100%;
    background-color: rgba(244, 248, 249, 0.5);
    z-index: -1;
  }
}
.header-buttons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.header-content-img {
  margin-left: auto;
  margin-right: auto;
  /*  margin-top: -30px; 
        z-index: -1; */
  margin-bottom: 82px;
  transform: scale(1.77);
}
.header-content-img img {
  max-width: 100%;
  vertical-align: top;
  overflow: hidden;
}
@media (min-width: 768px) {
  .header-content-img {
    transform: unset;
    margin-top: -39px;
    margin-left: -10px;
  }
}
@media (min-width: 1200px) {
  .header-content-img {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -130px;
    z-index: -1;
  }
  .header-content-img img {
    max-width: 100%;
    display: block;
    height: auto;
  }
}
.header-social-icons {
  width: 100%;
}
@media (min-width: 768px) {
  .header-social-icons {
    width: 48%;
  }
  .header-social-icons .title-medium {
    margin-bottom: 20px;
  }
}
@media (min-width: 1200px) {
  .header-social-icons {
    width: 31%;
  }
}
.social-column {
  margin-bottom: 15px;
}
@media (min-width: 768px) {
  .social-column {
    margin-bottom: 26px;
  }
}
@media (min-width: 1200px) {
  .social-column {
    margin-bottom: 26px;
  }
}
.title-medium {
  text-shadow: 0 3px 42px #ffffff;
  color: #000000;
  font-size: 30px;
  font-weight: 800;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: left;
  margin-bottom: 26px;
}
@media (min-width: 768px) {
  .title-medium {
    margin-bottom: 30px;
    letter-spacing: 2.0px;
    font-size: 32px;
  }
}
@media (min-width: 1200px) {
  .title-medium {
    text-shadow: 0 3px 42px #ffffff;
    color: #000000;
    font-size: 40px;
    font-weight: 800;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
    margin-bottom: 35px;
  }
}
.list-content {
  text-shadow: 0 3px 42px #ffffff;
  color: #000000;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  margin-bottom: 37px;
  letter-spacing: 1px;
}
@media (min-width: 768px) {
  .list-content {
    margin-bottom: 0;
  }
}
@media (min-width: 1200px) {
  .list-content {
    text-shadow: 0 3px 42px #ffffff;
    color: #000000;
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
    line-height: 38px;
    text-align: left;
    margin-bottom: 38px;
    letter-spacing: 1px;
  }
}
.list-text {
  margin-bottom: 18px;
}
.list-text:last-child {
  margin-bottom: 0;
}
@media (min-width: 1200px) {
  .list-text {
    margin-bottom: 0;
  }
}
.social-icons-item {
  width: 50px;
  display: inline-block;
  margin-right: 32px;
}
.social-icons-item:last-child {
  margin-right: 0;
}
.header-list {
  max-width: 250px;
}
@media (min-width: 768px) {
  .header-list {
    width: 50%;
    max-width: unset;
  }
}
@media (min-width: 1200px) {
  .header-list {
    width: 60%;
  }
}
.social-block {
  display: flex;
  /* justify-content: center; */
  flex-direction: row;
}
.mail-link-block {
  bottom: 1px solid red;
}
.header-scils-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}
@media (min-width: 768px) {
  .header-scils-wrapper {
    flex-direction: row;
    margin-top: -64px;
  }
}
@media (min-width: 1200px) {
  .header-scils-wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    margin-top: -94px;
    margin-left: -4px;
  }
}
@media (min-width: 1200px) {
  .list-content .list-text:before {
    content: " — ";
  }
}
.letter-big {
  display: inline-block;
}
@media (min-width: 1200px) {
  .letter-big {
    display: none;
  }
}
.letter-little {
  display: none;
}
@media (min-width: 1200px) {
  .letter-little {
    display: inline-block;
  }
}
br {
  display: block;
}
@media (min-width: 768px) {
  br {
    display: none;
  }
}
@media (min-width: 1200px) {
  br {
    display: block;
  }
}
.section-portfolio {
  /*   max-width: 1600px;  */
  padding-top: 52px;
  padding-bottom: 132px;
  background-color: #f4f8f9;
  font-family: 'Roboto';
  margin-left: auto;
  margin-right: auto;
}
.section-portfolio .sections-title {
  color: #000000;
  font-size: 42px;
  font-weight: 800;
  margin-bottom: 44px;
  letter-spacing: 2.0px;
}
@media (min-width: 768px) {
  .section-portfolio {
    padding-top: 70px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 106px;
  }
  .section-portfolio .sections-title {
    font-size: 52px;
    margin-bottom: 50px;
  }
}
@media (min-width: 1200px) {
  .section-portfolio {
    padding-top: 104px;
    padding-bottom: 57px;
    background-color: #f4f8f9;
    font-family: 'Roboto';
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
  }
  .section-portfolio .sections-title {
    color: #000000;
    font-size: 64px;
    font-weight: 800;
    margin-bottom: 58px;
    letter-spacing: 2.0px;
  }
}
.content-works {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.project-cards {
  max-width: 290px;
  height: auto;
  display: block;
  transition: 0.7s ease;
  cursor: pointer;
  box-shadow: 0 4px 8px #c4d3e4;
  border-style: solid;
  border-color: rgba(196, 211, 228, 0.9);
  margin-bottom: 30px;
}
.project-cards .title-medium {
  display: inline-block;
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 15px;
}
.project-cards .text-portfolio {
  font-size: 16px;
  margin-bottom: 4px;
}
.project-cards img {
  height: 200px;
}
@media (min-width: 768px) {
  .project-cards {
    max-width: 338px;
  }
  .project-cards .title-medium {
    display: inline-block;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 5px;
    letter-spacing: normal;
  }
  .project-cards .text-portfolio {
    line-height: 1.2;
    font-size: 18px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
    color: #000;
  }
  .project-cards img {
    height: 240px;
  }
}
@media (min-width: 1200px) {
  .project-cards {
    max-width: 360px;
    height: auto;
    display: block;
    transition: 0.7s ease;
    cursor: pointer;
    box-shadow: 0 4px 8px #c4d3e4;
    border-style: solid;
    border-color: rgba(196, 211, 228, 0.9);
    margin-bottom: 62px;
  }
  .project-cards .title-medium {
    display: inline-block;
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 10px;
  }
  .project-cards .text-portfolio {
    font-size: 20px;
    margin-bottom: 4px;
  }
}
.card-big {
  max-width: 290px;
  /*background-color: bisque; */
  display: block;
  margin-bottom: 30px;
  text-decoration: none;
  color: #000;
  height: auto;
}
.card-big .title-medium {
  display: inline-block;
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 15px;
}
.card-big .text-portfolio {
  font-size: 16px;
  margin-bottom: 4px;
}
@media (min-width: 768px) {
  .card-big {
    max-width: 338px;
    margin-bottom: 38px;
  }
  .card-big .title-medium {
    display: inline-block;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 5px;
    letter-spacing: normal;
  }
  .card-big .text-portfolio {
    line-height: 1.2;
    font-size: 18px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
    color: #000;
  }
  .card-big img {
    max-width: 100%;
    height: 240px;
    vertical-align: middle;
  }
}
@media (min-width: 1200px) {
  .card-big {
    max-width: 560px;
    /*background-color: bisque; */
    display: block;
    margin-bottom: 50px;
    text-decoration: none;
    color: #000;
    height: auto;
  }
  .card-big .title-medium {
    display: inline-block;
    font-size: 32px;
    margin-bottom: 10px;
  }
  .card-big .text-portfolio {
    font-size: 24px;
    line-height: 1.2;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
    color: #000;
  }
  .card-big img {
    max-width: 100%;
    height: 100%;
    vertical-align: middle;
  }
}
.project-cards .title-medium {
  position: relative;
  /*font-size: 26px; */
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 6px;
  z-index: 1;
}
.project-cards .title-medium:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0;
  background-color: var(--linehover);
  z-index: -1;
  transition: 1s ease;
}
.project-cards .title-medium:hover:after {
  width: 100%;
}
.portfolio-works-togger {
  display: none;
}
@media (min-width: 768px) {
  .portfolio-works-togger {
    margin-right: 0;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 47px;
    text-align: left;
  }
}
@media (min-width: 1200px) {
  .portfolio-works-togger {
    display: flex;
    justify-content: flex-start;
    margin-right: 84px;
    margin-bottom: 50px;
    text-align: left;
  }
}
.portfolio-works-togger_item {
  color: #8fa5ae;
  margin-right: 85px;
  font-size: 28px;
  font-weight: 700;
  font-style: normal;
  line-height: normal;
  text-align: left;
  cursor: pointer;
}
.portfolio-works-togger_item:hover,
.portfolio-works-togger_item:active {
  color: #9290B0;
}
@media (min-width: 768px) {
  .portfolio-works-togger_item {
    font-size: 24px;
    font-weight: 700;
    margin-right: 55px;
  }
}
@media (min-width: 1200px) {
  .portfolio-works-togger_item {
    font-size: 28px;
    font-weight: 700;
    margin-right: 85px;
  }
}
.control-active {
  color: #000000;
  font-weight: 900;
}
@media (min-width: 768px) {
  .control-active {
    font-size: 24px;
    font-weight: 700;
  }
}
@media (min-width: 1200px) {
  .control-active {
    font-weight: 700;
    font-size: 28px;
  }
}
.project-link {
  display: block;
  position: relative;
  transition: 3s;
  z-index: 1;
  margin-bottom: 25px;
}
@media (min-width: 768px) {
  .project-link {
    margin-bottom: 20px;
  }
  .project-link:after {
    content: "";
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    width: 0;
    background-color: rgba(171, 200, 231, 0.9);
    z-index: 1;
    transition: 1s ease;
  }
}
@media (min-width: 1200px) {
  .project-link {
    display: block;
    position: relative;
    transition: 3s;
    z-index: 1;
    margin-bottom: 26px;
  }
  .project-link:after {
    content: "";
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    width: 0;
    background-color: rgba(171, 200, 231, 0.9);
    z-index: 1;
    transition: 1s ease;
  }
}
.project-link .button {
  display: none;
}
@media (min-width: 768px) {
  .project-link .button {
    display: none;
    height: 64px;
    line-height: 64px;
    border-radius: 31px;
    color: #464646;
    font-size: 22px;
    font-weight: 800;
    letter-spacing: normal;
    text-align: center;
    padding-left: 42px;
    padding-right: 42px;
    margin-right: 19px;
    transition: 0.2s ease;
    background-color: #ffffff;
  }
}
@media (min-width: 1200px) {
  .project-link .button {
    background-color: #ffffff;
    display: none;
    font-weight: 800;
    color: #464646;
  }
}
@media (min-width: 768px) {
  .project-link:hover .button {
    display: inline-block;
    position: absolute;
    border-radius: 31px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
  }
  .project-link:hover:after {
    width: 100%;
  }
}
.project-link:hover .button {
  display: inline-block;
  position: absolute;
  border-radius: 31px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}
.project-link:hover:after {
  width: 100%;
}
@media (min-width: 768px) {
  .project-link .button {
    transition: 1s ease;
    border: 1px;
    border-color: #ffffff;
    border-style: solid;
  }
  .project-link .button:hover {
    background-color: #FFE5D8;
    box-shadow: 0 2px 6px rgba(136, 154, 172, 0.6);
    border-color: #889aac99;
  }
  .project-link .button:active {
    background-color: #FFCFB7;
  }
}
@media (min-width: 1200px) {
  .project-link .button {
    transition: 1s ease;
    border: 1px;
    border-color: #ffffff;
    border-style: solid;
  }
  .project-link .button:hover {
    background-color: #FFE5D8;
    box-shadow: 0 2px 6px rgba(136, 154, 172, 0.6);
    border-color: #889aac99;
  }
  .project-link .button:active {
    background-color: #FFCFB7;
  }
}
.text-portfolio-wrap {
  padding-left: 10px;
  padding-bottom: 6px;
}
@media (min-width: 768px) {
  .text-portfolio-wrap {
    padding-left: 10px;
    padding-bottom: 6px;
  }
}
@media (min-width: 1200px) {
  .text-portfolio-wrap {
    padding-left: 5px;
    padding-bottom: 4px;
  }
}
@media (min-width: 768px) {
  .last-card {
    display: none;
  }
}
@media (min-width: 1200px) {
  .last-card {
    display: block;
  }
}
@media (min-width: 1200px) {
  br {
    display: none;
  }
}
.section-timeline {
  max-width: 320px;
  padding-top: 52px;
  padding-bottom: 48px;
  font-family: 'Roboto';
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
  position: relative;
  overflow: hidden;
}
.section-timeline .sections-title {
  color: var(--text);
  font-size: 38px;
  font-weight: 800;
  font-style: normal;
  letter-spacing: 2.0px;
  line-height: normal;
  text-align: center;
  margin-bottom: 53px;
}
.section-timeline .line-bottom::after {
  bottom: 3px;
  left: -2px;
  right: -2px;
  height: 12px;
}
.section-timeline p {
  margin-bottom: 15px;
}
.section-timeline p:last-child {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .section-timeline {
    padding-top: 78px;
    max-width: 768px;
    padding-left: 15px;
    padding-right: 15px;
    background-image: url(../img/BG/03.bg.jpg);
    background-repeat: repeat-y;
    background-position: center;
    background-size: auto;
  }
  .section-timeline .sections-title {
    font-size: 52px;
    font-weight: 800;
    margin-bottom: 157px;
    letter-spacing: 2.2px;
  }
}
@media (min-width: 1200px) {
  .section-timeline {
    max-width: 1600px;
    background-image: url(../img/BG/01.bg.jpg);
    background-repeat: repeat-y;
    background-position: center;
    background-size: auto;
    padding-top: 138px;
    padding-bottom: 120px;
    font-family: 'Roboto';
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
    padding-left: 0;
    padding-right: 0;
  }
  .section-timeline .sections-title {
    color: var(--text);
    font-size: 64px;
    font-weight: 800;
    font-style: normal;
    letter-spacing: 2.2px;
    line-height: normal;
    text-align: center;
    margin-bottom: 153px;
  }
  .section-timeline .line-bottom::after {
    bottom: 10px;
    left: -5px;
    right: -5px;
    height: 12px;
  }
  .section-timeline p {
    margin-bottom: 15px;
  }
  .section-timeline p:last-child {
    margin-bottom: 0;
  }
}
.timeline-block-item {
  position: relative;
  /* width: 50%;  */
  padding-left: 98px;
  min-height: 182px;
  display: flex;
  /* align-items: center; */
}
.timeline-block-item:after {
  content: "";
  position: absolute;
  top: 90px;
  bottom: 0;
  left: 32px;
  width: 4px;
  border-radius: 2px;
  background-color: #e1eef4;
}
@media (min-width: 768px) {
  .timeline-block-item {
    width: 50%;
  }
}
@media (min-width: 1200px) {
  .timeline-block-item {
    position: relative;
    width: 50%;
    padding-left: 98px;
    min-height: 182px;
    display: flex;
  }
}
.timeline-block-item:first-child::before {
  display: none;
}
@media (min-width: 768px) {
  .timeline-block-item:first-child::before {
    display: block;
    position: absolute;
    content: "";
    right: -5px;
    top: -74px;
    bottom: 0px;
    height: 57px;
    width: 4px;
    border-radius: 2px;
    background-color: #e1eef4;
  }
}
@media (min-width: 768px) {
  .timeline-block-item:nth-child(even) {
    margin-left: auto;
    padding-right: 0;
    padding-left: 80px;
  }
  .timeline-block-item:nth-child(even)::after {
    left: 0;
    right: auto;
  }
  .timeline-block-item:nth-child(even) .timeline-item-icon {
    left: -37px;
    right: auto;
  }
}
@media (min-width: 768px) {
  .timeline-block-item:nth-child(odd) {
    padding-left: 0;
    padding-right: 80px;
    text-align: right;
  }
  .timeline-block-item:nth-child(odd)::after {
    left: auto;
    right: -5px;
  }
  .timeline-block-item:nth-child(odd) .timeline-item-icon {
    left: auto;
    right: -37px;
  }
}
.timeline-block-item:nth-child(odd):last-child:after {
  display: none;
}
.timeline-block-item + .timeline-block-item {
  margin-top: 50px;
}
@media (min-width: 768px) {
  .timeline-block-item + .timeline-block-item {
    margin-top: 35px;
  }
}
@media (min-width: 1200px) {
  .timeline-block-item + .timeline-block-item {
    margin-top: 50px;
  }
}
.timeline-item-text {
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}
@media (min-width: 768px) {
  .timeline-item-text {
    font-size: 16px;
    padding-top: 18px;
  }
}
.timeline-item-icon {
  position: absolute;
  left: 0;
  right: 0;
  width: 74px;
  height: 74px;
  border-radius: 28px;
  background-color: #ffffff;
  box-shadow: 0px 3px 35px 0px rgba(0, 112, 187, 0.35);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.title-little {
  max-width: 178px;
  color: var(--text);
  font-size: 20px;
  font-weight: 900;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  margin-bottom: 10px;
}
.title-little .line-bottom::after {
  display: none;
}
@media (min-width: 768px) {
  .title-little {
    max-width: unset;
    font-size: 24px;
  }
}
@media (min-width: 1200px) {
  .title-little {
    font-size: 26px;
  }
  .title-little .line-bottom::after {
    bottom: 5px;
    left: 0;
    right: 0;
    height: 6px;
  }
}
@media (min-width: 1200px) {
  .timeline-block-item .title-little {
    display: inline-block;
    position: relative;
    color: var(--text);
    /* font-size: 26px; */
    font-weight: 900;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    z-index: 1;
    cursor: pointer;
  }
  .timeline-block-item .title-little:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 5px;
    width: 0;
    background-color: rgba(56, 102, 150, 0.7);
    z-index: -1;
    transition: 1s ease;
  }
  .timeline-block-item .title-little .timeline-block-item:hover {
    cursor: pointer;
  }
  .timeline-block-item .title-little .timeline-block-item:hover .title-little:after {
    width: 100%;
  }
  .timeline-block-item .title-little .timeline-block-item:hover .title-little .line-bottom::after {
    display: none;
  }
}
@media (min-width: 768px) {
  strong {
    font-size: 18px;
  }
}
.timeline-item-text-mobile {
  display: block;
}
@media (min-width: 768px) {
  .timeline-item-text-mobile {
    display: none;
  }
}
.dekstop-class {
  display: none;
}
@media (min-width: 768px) {
  .dekstop-class {
    display: block;
  }
}
.section-contacts {
  max-width: 320px;
  padding-top: 52px;
  padding-bottom: 66px;
  background-color: #f4f8f9;
  font-family: 'Roboto';
  margin-left: auto;
  margin-right: auto;
  color: var(--text);
}
.section-contacts .sections-title {
  font-size: 42px;
  color: var(--text);
  font-weight: 800;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 40px;
  /*    letter-spacing: 2.2px;  */
}
.section-contacts .button {
  width: 100%;
  font-size: 20px;
  height: 54px;
  line-height: 54px;
}
.section-contacts li {
  /*  margin-bottom: 28px; */
}
.section-contacts li:last-child {
  margin-bottom: 0;
}
.section-contacts .link-style {
  /*font-size: 18px;*/
  color: #039be5;
  border-bottom: none;
}
.section-contacts .link-style:hover {
  color: #ea655f;
}
.section-contacts .link-style:active {
  color: #ea655f;
}
.section-contacts .line-bottom::after {
  bottom: 8px;
  left: -2px;
  right: -2px;
  height: 12px;
}
@media (min-width: 768px) {
  .section-contacts {
    max-width: 768px;
    padding-top: 78px;
    padding-bottom: 90px;
    margin-left: 0;
    margin-right: 0;
  }
  .section-contacts .sections-title {
    font-size: 52px;
    margin-bottom: 62px;
  }
  .section-contacts .line-bottom::after {
    bottom: 8px;
    left: -5px;
    right: -5px;
    height: 12px;
  }
}
@media (min-width: 1200px) {
  .section-contacts {
    max-width: unset;
    padding-top: 140px;
    padding-bottom: 150px;
    background-image: url(../img/BG/02.bg.jpg);
    background-repeat: repeat-y;
    background-position: center;
    background-size: auto;
  }
  .section-contacts .sections-title {
    font-size: 64px;
    color: var(--text);
    font-weight: 800;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 70px;
    letter-spacing: 2.2px;
  }
  .section-contacts li:last-child {
    margin-bottom: 0;
  }
  .section-contacts .link-style {
    font-size: 18px;
    color: #039be5;
    border-bottom: none;
  }
  .section-contacts .link-style:hover {
    color: #ea655f;
  }
  .section-contacts .link-style:active {
    color: #ea655f;
  }
  .section-contacts .line-bottom::after {
    bottom: 8px;
    left: -3px;
    right: -3px;
    height: 12px;
  }
}
.content-contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .content-contacts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
@media (min-width: 1200px) {
  .content-contacts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
.contacts-address {
  margin-bottom: 50px;
}
@media (min-width: 768px) {
  .contacts-address {
    width: 290px;
    margin-bottom: 0;
  }
}
@media (min-width: 1200px) {
  .contacts-address {
    margin-bottom: 0;
    width: 500px;
    padding-top: 20px;
    position: relative;
    z-index: 2;
  }
}
.contacts-address::before {
  display: none;
}
@media (min-width: 1200px) {
  .contacts-address::before {
    position: absolute;
    content: "";
    top: 0;
    left: -330px;
    width: 405px;
    height: 273px;
    background-image: url(../img/BG/bg.dots.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    z-index: -1;
  }
}
.text-contacts {
  font-size: 16px;
  color: var(--text);
  line-height: 26px;
  text-align: left;
  font-weight: 400px;
  margin-bottom: 25px;
}
@media (min-width: 768px) {
  .text-contacts {
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 30px;
  }
}
@media (min-width: 1200px) {
  .text-contacts {
    font-size: 20px;
    color: var(--text);
    line-height: 1.6;
    text-align: left;
    margin-bottom: 40px;
  }
}
.contacts-inner {
  /*  display: flex;
    flex-direction: column;
    justify-content: space-between;   
    color: var(--text);    
    margin-bottom: 50px;  */
  margin-bottom: 33px;
}
@media (min-width: 1200px) {
  .contacts-inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: var(--text);
    margin-bottom: 50px;
  }
}
.contacts-list-item {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  list-style-type: none;
}
.contacts-link {
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 1.2;
  text-align: left;
  transition: 0.2s ease;
  color: #039be5;
}
.contacts-list-inform {
  text-align: left;
}
.contacts-list-inform li {
  margin-bottom: 17px;
  font-size: 18px;
  color: #96969d;
  line-height: 1.2;
}
@media (min-width: 768px) {
  .contacts-list-inform {
    text-align: left;
  }
  .contacts-list-inform li {
    margin-bottom: 12px;
    font-size: 20px;
    color: #96969d;
    line-height: 1.2;
  }
}
@media (min-width: 1200px) {
  .contacts-list-inform {
    text-align: left;
  }
  .contacts-list-inform li {
    margin-bottom: 28px;
    font-size: 20px;
    color: #96969d;
    line-height: 1.2;
  }
}
.contacts-form {
  width: 290px;
  height: auto;
  background-color: #ffffff;
  border-width: 1px;
  border-style: solid;
  border-color: #eaeaea;
  box-shadow: 0px 28px 100px 0px #c2dbeb;
  /* padding-top: 40px; */
  padding-bottom: 33px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .contacts-form {
    width: 340px;
    margin-right: 0;
    margin-left: 0;
    padding-left: 30px;
    padding-right: 20px;
    height: 100%;
    padding-bottom: 45px;
  }
}
@media (min-width: 1200px) {
  .contacts-form {
    width: 511px;
    height: auto;
    background-color: #ffffff;
    border-width: 1px;
    border-style: solid;
    border-color: #eaeaea;
    box-shadow: 0px 28px 100px 0px #c2dbeb;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 55px;
    padding-right: 55px;
    margin-right: 25px;
    margin-left: auto;
  }
}
.form-item {
  position: relative;
  padding-top: 40px;
  margin-bottom: 14px;
}
@media (min-width: 768px) {
  .form-item {
    margin-bottom: 16px;
  }
}
@media (min-width: 1200px) {
  .form-item {
    padding-top: 40px;
    margin-bottom: 25px;
  }
}
label {
  position: absolute;
  top: 43px;
  transition: top 0.5s;
}
input,
textarea {
  display: block;
  width: 100%;
  margin: auto;
  border: none;
  border-bottom: 1px solid #eaeaea;
}
textarea {
  min-height: 100px;
  outline: none;
  resize: none;
}
input:focus,
textarea:focus {
  outline: none;
  background-size: 100% 100%, 100% 100%;
  transition-duration: 0.3s;
  box-shadow: none;
  color: var(--text);
}
input:focus + label,
input:not(:placeholder-shown) + label,
textarea:focus + label,
textarea:not(:placeholder-shown) + label {
  font-size: 14px;
  top: 10px;
  color: #ed9626;
}
::-webkit-input-placeholder {
  opacity: 0;
}
input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
  opacity: 1;
}
textarea,
input {
  outline: none;
}
textarea:focus,
input:focus {
  outline: none;
}
.form-text {
  font-size: 20px;
  color: #cecece;
  font-weight: 500;
  line-height: 1.2;
  text-align: left;
}
.form-text:focus {
  font-size: 16px;
  color: #ed9626;
}
.form-field {
  height: 50px;
  font-size: 20px;
  color: var(--text);
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
}
.form-field:last-child {
  height: 70px;
}
textarea .form-field {
  height: 120px;
}
.contacts-content-img {
  position: relative;
  max-width: 400px;
}
.move-quot {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  opacity: 0.3;
  max-width: 200px;
}
.list-inform-item {
  display: block;
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  text-align: left;
  margin-bottom: 5px;
}
@media (min-width: 1200px) {
  .list-inform-item {
    display: inline-block;
    color: #000000;
    font-size: 20px;
    font-weight: 700;
    width: 190px;
    text-align: left;
    margin-bottom: 0;
  }
}
.inform-item-text {
  display: inline;
}
.form-item:last-child {
  margin-bottom: 15px;
}
.footer {
  background-color: #6c7886;
  padding-top: 35px;
  padding-bottom: 35px;
  color: #fff;
  font-family: 'Roboto';
  margin-left: auto;
  margin-right: auto;
}
.footer p {
  margin-bottom: 5px;
}
.footer p:last-child {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .footer {
    padding-top: 36px;
    padding-bottom: 43px;
  }
}
@media (min-width: 1200px) {
  .footer {
    background-color: #6c7886;
    padding-top: 25px;
    padding-bottom: 35px;
    color: #fff;
    font-family: 'Roboto';
    margin-left: auto;
    margin-right: auto;
  }
}
.footer-link {
  text-decoration: none;
  border-bottom: 1px solid;
  color: #b0b0b0;
}
.footer-text {
  font-size: 16px;
  color: #d8d8d8;
}
.footer-copyright-name {
  font-size: 20px;
  color: #ffffff;
  line-height: 1.2;
  margin-bottom: 18px;
}
@media (min-width: 768px) {
  .footer-copyright-name {
    margin-bottom: 15px;
  }
}
@media (min-width: 1200px) {
  .footer-copyright-name {
    margin-bottom: 18px;
  }
}
.footer-link:hover,
.footer-link:active {
  color: #fff;
}
.toggle-menu {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  z-index: 10;
  display: block;
}
@media (min-width: 1200px) {
  .toggle-menu {
    display: none;
  }
}
.toggle-menu span {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 5px;
  background-color: #000000;
  transition: 0.5s;
}
.toggle-menu span::before,
.toggle-menu span::after {
  content: "";
  width: 100%;
  height: 5px;
  background-color: #000000;
  position: absolute;
  transition: 0.5s;
}
.toggle-menu span::before {
  top: -10px;
  left: 0;
}
.toggle-menu span::after {
  bottom: -10px;
  left: 0;
}
.toggle-menu.active span {
  background-color: transparent;
}
.toggle-menu.active span::before {
  top: 0;
  transform: rotate(45deg);
}
.toggle-menu.active span::after {
  bottom: 0;
  transform: rotate(-45deg);
}
.mobile-menu {
  position: fixed;
  top: 0;
  right: 0;
  height: 700px;
  width: 100%;
  max-width: 400px;
  background-color: #96c041;
  z-index: 5;
  transform: translateX(100%);
  transition: 1s;
}
@media (min-width: 1200px) {
  .mobile-menu {
    display: none;
  }
}
.mobile-menu.active {
  transform: translateX(0);
}
/*# sourceMappingURL=main.css.map */