:root {
  --text: #000000;
  --line: #abc8e7;
  --linehover: #abc8e7;
  --bordercolor: #88b3e2;
  --linea: #88b3e2;
  --btncolor: #abc8e7;
  --btnhover: #88b3e2;
}
* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  font-family: 'Roboto';
  color: #000000;
}
html,
body,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
a,
a:hover {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
svg {
  max-width: 100%;
}
button,
input {
  outline: none;
}
button {
  display: inline-block;
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
}
.container {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.line-bottom {
  position: relative;
  z-index: 2;
  color: #000000;
  text-align: left;
  line-height: normal;
  text-decoration: uppercase;
}
.line-bottom::after {
  content: "";
  position: absolute;
  bottom: 17px;
  left: -5px;
  right: -5px;
  height: 12px;
  background-color: #c7daee;
  z-index: -1;
}
.button {
  display: inline-block;
  height: 64px;
  line-height: 64px;
  border-radius: 31px;
  background-color: var(--btncolor);
  color: var(--text);
  font-size: 22px;
  font-weight: 700;
  letter-spacing: normal;
  text-align: center;
  padding-left: 42px;
  padding-right: 42px;
  margin-right: 19px;
  transition: 0.2s ease;
}
.button:hover {
  background-color: var(--btnhover);
  box-shadow: 0 2px 6px rgba(136, 154, 172, 0.6);
}
.button:active {
  background-color: #88b3e2;
  box-shadow: 0 2px 6px rgba(136, 154, 172, 0.6);
}
.light {
  color: #464646;
  background-color: #ffffff;
  line-height: 56px;
  border-width: 4px;
  border-style: solid;
  border-color: #abc8e7;
}
.light:hover {
  border-color: #88b3e2;
  color: #797979;
}
.light:active {
  border-color: #88b3e2;
  color: #181818;
}
.anim-show {
  opacity: 0;
  transition: 1s;
  animation: show 1s 1;
  animation-fill-mode: forwards;
  animation-delay: 1s;
}
@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.seaction-header {
  position: relative;
  max-width: 1600px;
  background-image: url(../img/BG/01.bg.jpg);
  background-repeat: repeat-y;
  background-position: center;
  background-size: auto;
  padding-top: 70px;
  color: #fff;
  padding-bottom: 240px;
  font-family: 'Roboto';
  margin-left: auto;
  margin-right: auto;
}
.header-navigation {
  margin-bottom: 152px;
  position: relative;
  z-index: 10;
  padding-left: 15px;
  padding-right: 15px;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1430px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  /* font-size: 14px;
    font-weight: 700; */
}
.logo-link {
  font-size: 38px;
  text-decoration: uppercase;
  font-weight: 900;
  color: #000000;
  letter-spacing: 1.2px;
}
/*
.logo {
    margin-right: 392px;
} */
.header-logo {
  position: relative;
  z-index: 2;
  font-size: 42px;
  text-decoration: uppercase;
  font-weight: 900;
  color: #000000;
  line-height: 1.2;
  letter-spacing: 1.2px;
}
.header-logo::after {
  content: "";
  position: absolute;
  bottom: 7px;
  left: -5px;
  right: -5px;
  height: 10px;
  background-color: #c7daee;
  z-index: -1;
}
.header-contacts {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /*  margin-right: 310px; 
  margin: 0 auto;*/
}
.header-link {
  position: relative;
  font-weight: 700;
  margin-right: 74px;
  color: #000;
  font-size: 20px;
  line-height: 1.2;
  z-index: 2;
  letter-spacing: 1px;
}
.header-link:last-child {
  margin-right: 0;
}
.header-link::after {
  content: "";
  position: absolute;
  bottom: 5px;
  left: 0;
  width: 0;
  height: 5px;
  background-color: #abc8e7;
  transition: 0.5s;
  z-index: -1;
}
.header-link:hover:after {
  width: 110%;
  left: -5px;
  right: -5px;
}
.header-link:focus {
  border-top-style: dotted;
  border-bottom-style: dotted;
  border-left-style: dotted;
  border-right-style: dotted;
  border-color: #ea736d;
}
.header-link:active:after {
  bottom: 5px;
  height: 5px;
  left: -5px;
  right: -5px;
  background-color: #88b3e2;
  z-index: -1;
}
.header-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.social-icons {
  max-width: 50px;
  height: auto;
  display: inline-block;
  margin-right: 17px;
}
.social-icons:last-child {
  margin-right: 0;
}
.social-icons:active {
  color: #0077b5;
}
.social-icons icon-3 {
  width: 50px;
}
.social-icons svg .icon-1 {
  fill: #000000;
  transition: 0.2s ease;
}
.social-icons svg .icon-1:hover,
.social-icons svg .icon-1:active {
  fill: #0077b5;
}
.social-icons svg .icon-2 {
  fill: #000000;
  transition: 0.2s ease;
}
.social-icons svg .icon-2:hover,
.social-icons svg .icon-2:active {
  fill: #6cc644;
}
.social-icons svg .icon-3 {
  fill: #000000;
  transition: 0.2s ease;
}
.social-icons svg .icon-3:hover,
.social-icons svg .icon-3:active {
  fill: #45668e;
}
/*
.container {    
    max-width: 1170px;   
    margin-left: auto;
    margin-right: auto;
   
}
*/
.header-content-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  /* padding-left: 15px;
    padding-right: 15px;
    font-size: 14px;
    font-weight: 700; */
  position: relative;
  z-index: 2;
}
.header-title {
  font-family: 'Roboto', sans-serif;
  color: #000000;
  font-size: 90px;
  font-weight: 800;
  text-align: left;
  line-height: normal;
  margin-bottom: 12px;
}
.header-block-text {
  width: 50%;
}
.header-text {
  color: #000000;
  text-shadow: 0 3px 42px #ffffff;
  color: #393f47;
  font-size: 24px;
  font-weight: 500;
  font-style: normal;
  letter-spacing: normal;
  line-height: 36px;
  text-align: left;
  margin-bottom: 33px;
}
.header-img {
  width: 50%;
  position: relative;
  max-width: 100%;
  height: auto;
  text-align: right;
  /*
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;  */
  z-index: 2;
}
.header-img img {
  padding-top: 22px;
  width: 457px;
  height: 432px;
  margin-bottom: 0;
  object-fit: cover;
  vertical-align: bottom;
}
.header-img::before {
  content: "";
  display: block;
  position: absolute;
  top: 30%;
  left: 30%;
  width: 100%;
  height: 100%;
  background-color: rgba(244, 248, 249, 0.5);
  z-index: -1;
}
.header-buttons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.header-content-img {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -119px;
  z-index: -1;
}
.header-content-img img {
  max-width: 100%;
  display: block;
  height: auto;
}
.header-social-icons {
  width: 31%;
}
.social-column {
  margin-bottom: 26px;
}
.title-medium {
  text-shadow: 0 3px 42px #ffffff;
  color: #000000;
  font-size: 40px;
  font-weight: 800;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: left;
  margin-bottom: 35px;
}
.list-content {
  text-shadow: 0 3px 42px #ffffff;
  color: #000000;
  font-size: 24px;
  font-weight: 400;
  font-style: normal;
  line-height: 38px;
  text-align: left;
  margin-bottom: 38px;
  letter-spacing: 1px;
}
.social-icons-item {
  width: 50px;
  display: inline-block;
  margin-right: 32px;
}
.social-icons-item:last-child {
  margin-right: 0;
}
.header-list {
  width: 60%;
}
.social-block {
  display: flex;
  /* justify-content: center; */
  flex-direction: row;
}
.link-style {
  text-shadow: 0 3px 42px #ffffff;
  color: #000000;
  font-size: 24px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 24px;
  text-align: left;
  text-decoration: none;
  transition: 0.2s ease;
  border-bottom: 2px solid #393f47;
}
.link-style:hover {
  border-color: #039be5;
  color: #039be5;
}
.link-style:active {
  border-color: #ea655f;
  color: #ea655f;
}
.link-style:active {
  color: #ea655f;
}
.mail-link-block {
  bottom: 1px solid red;
}
.header-scils-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  /* padding-left: 25px;
    padding-right: 33px; */
  margin-top: -21px;
  margin-left: -3px;
}
.social-icons-item svg .icons-content-1 {
  fill: #000000;
  transition: 0.2s ease;
}
.social-icons-item svg .icons-content-1:hover,
.social-icons-item svg .icons-content-1:active {
  fill: #6cc644;
}
.social-icons-item svg .icons-content-2 {
  fill: #039be5;
  transition: 0.2s ease;
}
.social-icons-item svg .icons-content-2:hover,
.social-icons-item svg .icons-content-2:active {
  fill: #44b2e9;
}
.social-icons-item svg .icons-content-3 {
  fill: #4d76a1;
  transition: 0.2s ease;
}
.social-icons-item svg .icons-content-3:hover,
.social-icons-item svg .icons-content-3:active {
  fill: #86acda;
}
.social-icons-item svg .icons-content-4 {
  fill: #3b5998;
  transition: 0.2s ease;
}
.social-icons-item svg .icons-content-4:hover,
.social-icons-item svg .icons-content-4:active {
  fill: #486ab4;
}
li::selection {
  background: #c7daee;
}
.list-content .list-text:before {
  content: " — ";
}
.section-portfolio {
  /*   max-width: 1600px;  */
  padding-top: 104px;
  padding-bottom: 63px;
  background-color: #f4f8f9;
  font-family: 'Roboto';
  margin-left: auto;
  margin-right: auto;
}
.section-portfolio .header-title {
  color: #000000;
  font-size: 64px;
  font-weight: 800;
  margin-bottom: 58px;
  letter-spacing: 2.0px;
}
.content-works {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.project-cards {
  max-width: 556px;
  height: auto;
  display: block;
  transition: 0.7s ease;
  cursor: pointer;
  box-shadow: 0 4px 8px #c4d3e4;
  border-style: solid;
  border-color: rgba(196, 211, 228, 0.9);
  margin-bottom: 62px;
}
.project-cards .title-medium {
  display: inline-block;
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 10px;
}
.project-cards .text-portfolio {
  font-size: 20px;
  margin-bottom: 4px;
}
.card-big {
  max-width: 560px;
  /*background-color: bisque; */
  display: block;
  margin-bottom: 50px;
  text-decoration: none;
  color: #000;
  height: auto;
}
.card-big .title-medium {
  display: inline-block;
  font-size: 32px;
  margin-bottom: 10px;
}
.card-big .text-portfolio {
  font-size: 24px;
  line-height: 1.2;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: left;
  color: #000;
  margin-bottom: 6px;
}
.project-cards .title-medium {
  position: relative;
  /*font-size: 26px; */
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 6px;
  z-index: 1;
}
.project-cards .title-medium:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0;
  background-color: var(--linehover);
  z-index: -1;
  transition: 1s ease;
}
.project-cards .title-medium:hover:after {
  width: 100%;
}
.portfolio-works-togger {
  display: flex;
  justify-content: flex-start;
  margin-right: 84px;
  margin-bottom: 50px;
  text-align: left;
}
.portfolio-works-togger_item {
  color: #8fa5ae;
  margin-right: 85px;
  font-size: 28px;
  font-weight: 700;
  font-style: normal;
  line-height: normal;
  text-align: left;
  cursor: pointer;
}
.control-active {
  color: #000000;
  font-weight: 700;
}
.project-link {
  display: block;
  position: relative;
  transition: 3s;
  z-index: 1;
  margin-bottom: 26px;
}
.project-link .button {
  background-color: #ffffff;
  display: none;
  font-weight: 800;
  color: #464646;
}
.project-link:after {
  content: "";
  position: absolute;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  width: 0;
  /*  background-color:rgba(125, 171, 221, 0.9); */
  background-color: rgba(171, 200, 231, 0.9);
  z-index: 1;
  transition: 1s ease;
}
.project-link:hover .button {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}
.project-link:hover:after {
  width: 100%;
}
.project-link .button {
  transition: 1s ease;
  border: 1px;
  border-color: #ffffff;
  border-style: solid;
}
.project-link .button:hover {
  background-color: #FFE5D8;
  box-shadow: 0 2px 6px rgba(136, 154, 172, 0.6);
  border-color: #889aac99;
}
.project-link .button:active {
  background-color: #FFCFB7;
}
.section-timeline {
  max-width: 1600px;
  background-image: url(../img/BG/01.bg.jpg);
  background-repeat: repeat-y;
  background-position: center;
  background-size: auto;
  padding-top: 138px;
  padding-bottom: 119px;
  font-family: 'Roboto';
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
}
.section-timeline .header-title {
  color: var(--text);
  font-size: 64px;
  font-weight: 800;
  font-style: normal;
  letter-spacing: 2.2px;
  line-height: normal;
  text-align: center;
}
.section-timeline .line-bottom::after {
  bottom: 10px;
  left: -5px;
  right: -5px;
  height: 12px;
}
.section-timeline p {
  margin-bottom: 15px;
}
.section-timeline p:last-child {
  margin-bottom: 0;
}
.timline-title {
  margin-bottom: 153px;
}
.content-time-line {
  /*  max-width: 1005px; */
}
.timeline-block-item {
  position: relative;
  width: 50%;
  padding-left: 98px;
  min-height: 182px;
  display: flex;
  /* align-items: center; */
  /*
    @media (min-width: 768px) {
        width: 50%;
    }

    @media (min-width: 1200px) {
        width: 100%;
    } */
}
.timeline-block-item:after {
  content: "";
  position: absolute;
  top: 90px;
  bottom: 0;
  left: 32px;
  /*   height: 112px; */
  width: 4px;
  border-radius: 2px;
  background-color: #e1eef4;
}
.timeline-block-item:first-child::before {
  position: absolute;
  content: "";
  right: -5px;
  top: -74px;
  bottom: 0px;
  height: 57px;
  width: 4px;
  border-radius: 2px;
  background-color: #e1eef4;
}
@media (min-width: 768px) {
  .timeline-block-item:nth-child(even) {
    margin-left: auto;
    padding-right: 0;
    padding-left: 80px;
  }
  .timeline-block-item:nth-child(even)::after {
    left: 0;
    right: auto;
  }
  .timeline-block-item:nth-child(even) .timeline-item-icon {
    left: -37px;
    right: auto;
  }
}
@media (min-width: 768px) {
  .timeline-block-item:nth-child(odd) {
    padding-left: 0;
    padding-right: 80px;
    text-align: right;
  }
  .timeline-block-item:nth-child(odd)::after {
    left: auto;
    right: -5px;
  }
  .timeline-block-item:nth-child(odd) .timeline-item-icon {
    left: auto;
    right: -37px;
  }
}
.timeline-block-item:nth-child(odd):last-child:after {
  display: none;
}
.timeline-block-item + .timeline-block-item {
  margin-top: 50px;
}
.timeline-item-text {
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  padding-top: 18px;
}
.timeline-item-icon {
  position: absolute;
  left: 0;
  right: 0;
  width: 74px;
  height: 74px;
  border-radius: 28px;
  background-color: #ffffff;
  box-shadow: 0px 3px 35px 0px rgba(0, 112, 187, 0.35);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.title-little {
  color: var(--text);
  font-size: 26px;
  font-weight: 900;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  margin-bottom: 10px;
}
.title-little .line-bottom::after {
  bottom: 5px;
  left: 0;
  right: 0;
  height: 6px;
}
/*

        .show-1 {
            animation-delay: 3s;
        }

        .show-2 {
            animation-delay: 4s;
        }

        .show-3 {
            animation-delay: 5s;
        }

        .show-4 {
           animation-delay: 6s;
        }

        .show-5 {          
          animation-delay: 6.5s;
        }

  */
.timeline-block-item .title-little {
  display: inline-block;
  position: relative;
  color: var(--text);
  font-size: 26px;
  font-weight: 900;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  z-index: 1;
  cursor: pointer;
}
.timeline-block-item .title-little:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 5px;
  width: 0;
  background-color: #90b6df;
  z-index: -1;
  transition: 1s ease;
}
.timeline-block-item:hover {
  cursor: pointer;
}
.timeline-block-item:hover .title-little:after {
  width: 100%;
}
.timeline-block-item:hover .title-little .line-bottom::after {
  display: none;
}
.section-contacts {
  padding-top: 140px;
  padding-bottom: 150px;
  background-image: url(../img/BG/02.bg.jpg);
  background-repeat: repeat-y;
  background-position: center;
  background-size: auto;
  background-color: #f4f8f9;
  font-family: 'Roboto';
  margin-left: auto;
  margin-right: auto;
  color: var(--text);
}
.section-contacts .header-title {
  font-size: 64px;
  color: var(--text);
  font-weight: 800;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 65px;
  letter-spacing: 2.2px;
}
.section-contacts li {
  margin-bottom: 28px;
}
.section-contacts li:last-child {
  margin-bottom: 0;
}
.section-contacts .link-style {
  font-size: 18px;
  color: #039be5;
  border-bottom: none;
}
.section-contacts .link-style:hover {
  color: #ea655f;
}
.section-contacts .link-style:active {
  color: #ea655f;
}
.section-contacts .line-bottom::after {
  bottom: 8px;
  left: -3px;
  right: -3px;
  height: 12px;
}
.content-contacts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.contacts-address {
  padding-bottom: 100px;
  max-width: 555px;
  padding-top: 20px;
  position: relative;
}
.contacts-address::before {
  position: absolute;
  content: "";
  top: 0;
  left: -330px;
  width: 405px;
  height: 273px;
  background-image: url(../img/BG/bg.dots.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
}
/*

.contscts-form {
    max-width: 555px;
    padding-left: 20px;
    padding-right: 20px;
     
}*/
.text-contacts {
  font-size: 20px;
  color: var(--text);
  line-height: 1.6;
  text-align: left;
  margin-bottom: 40px;
}
.contacts-inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* padding-top: 25px;
    padding-bottom: 95px; */
  color: var(--text);
  padding-right: 135px;
  margin-bottom: 50px;
}
.contacts-list-item {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  list-style-type: none;
}
.contacts-link {
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 1.2;
  text-align: left;
  transition: 0.2s ease;
  color: #039be5;
}
.contacts-form-wrapper {
  max-width: 555px;
  padding-left: 25px;
  padding-right: 25px;
}
.contacts-list-inform {
  text-align: left;
}
.contacts-list-inform li {
  margin-bottom: 28px;
  font-size: 20px;
  color: #96969d;
  line-height: 1.2;
}
.contacts-form {
  width: 510px;
  height: auto;
  background-color: #ffffff;
  border-width: 1px;
  border-style: solid;
  border-color: #eaeaea;
  box-shadow: 0px 28px 100px 0px #c2dbeb;
}
.form {
  padding-top: 40px;
  padding-bottom: 40px;
}
.form-block {
  padding-left: 60px;
  padding-right: 60px;
}
/*
  .form-title {
    text-align: center;
  }
  */
.form-item {
  position: relative;
  padding-top: 40px;
  margin-bottom: 25px;
}
label {
  position: absolute;
  left: 10px;
  top: 43px;
  transition: top 0.5s;
}
input,
textarea {
  display: block;
  width: 100%;
  padding: 5px;
  margin: auto;
  border: none;
  /* border: 1px solid #ccc; */
  border-bottom: 1px solid #eaeaea;
  /*  background: no-repeat bottom, 50% calc(100% - 1px);
    background-size: 0 100%, 100% 100%;
    background-image: linear-gradient(0deg, #9c27b0 2px, rgba(156, 39, 176, 0) 0), linear-gradient(0deg, #ccc 1px, hsla(0, 0%, 82%, 0) 0); */
}
textarea {
  /* resize: vertical; */
  min-height: 100px;
  outline: none;
  resize: none;
}
input:focus,
textarea:focus {
  outline: none;
  background-size: 100% 100%, 100% 100%;
  transition-duration: 0.3s;
  box-shadow: none;
  color: var(--text);
}
input:focus + label,
input:not(:placeholder-shown) + label,
textarea:focus + label,
textarea:not(:placeholder-shown) + label {
  top: 10px;
  color: #ed9626;
}
::-webkit-input-placeholder {
  opacity: 0;
}
input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
  opacity: 1;
}
textarea,
input {
  outline: none;
}
textarea:focus,
input:focus {
  outline: none;
}
.form-text {
  font-size: 20px;
  color: #cecece;
  font-weight: 500;
  line-height: 1.2;
  text-align: left;
}
.form-text:focus {
  font-size: 16px;
  color: #ed9626;
}
.form-field {
  height: 50px;
  font-size: 20px;
  color: var(--text);
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
}
.form-field:last-child {
  height: 70px;
}
textarea .form-field {
  height: 120px;
}
.contacts-content-img {
  position: relative;
  max-width: 400px;
}
.move-quot {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  opacity: 0.3;
  max-width: 200px;
}
.footer {
  background-color: #6c7886;
  padding-top: 25px;
  padding-bottom: 35px;
  color: #fff;
  font-family: 'Roboto';
  margin-left: auto;
  margin-right: auto;
}
.footer p {
  margin-bottom: 5px;
}
.footer p:last-child {
  margin-bottom: 0;
}
.footer-link {
  text-decoration: none;
  border-bottom: 1px solid;
  color: #b0b0b0;
}
.footer-text {
  font-size: 16px;
  color: #d8d8d8;
}
.footer-copyright-name {
  font-size: 20px;
  color: #ffffff;
  line-height: 1.2;
  margin-bottom: 18px;
}
.footer-link:hover,
.footer-link:active {
  color: #fff;
}
/*# sourceMappingURL=main.css.map */