

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: 'MPLUS 1p', sans-serif;
    color: #000000;
}

html, body, p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a,
a:hover {
    text-decoration: none;
}


img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

svg {
    max-width: 100%;
}

button,
input {
    outline: none;
}

button {
    display: inline-block;
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
}

.container {
    max-width: 1140px;
}