.footer {
    background-color: #6c7886;
    padding-top: 25px;
    padding-bottom: 35px;
    color: #fff;   
    font-family: 'Roboto';
    margin-left: auto;
    margin-right: auto;
    p {
        margin-bottom: 5px;  
    }
    
    p:last-child {
        margin-bottom: 0;
    } 
}

.footer-link {
    text-decoration: none;
    border-bottom: 1px solid;
    color: #b0b0b0;

}

.footer-text {
    font-size: 16px;
    color: #d8d8d8;
}

.footer-copyright-name {
    font-size: 20px;    
    color: rgb(255, 255, 255);
    line-height: 1.2;
    margin-bottom: 18px;
  
}

.footer-link {

    &:hover, &:active{
         color: #fff; 
  
}
}