.seaction-header {
    max-width: 320px;     
    padding-top: 50px;
    padding-bottom: 100px;
    color: #fff;    
    font-family: 'Roboto';
    margin-left: auto;
    margin-right: auto;
    height: auto;
    
    .button {
        display: none;
    }
      // Медиа запрос для планшетов и выше //

      @media (min-width: 768px) {
        max-width: 738px;  
        padding-top: 27px;
        padding-bottom: 80px;
    }
    
    // Медиа запрос для декстопов //
    @media (min-width: 1200px) {
        position: relative;
        max-width: 1600px;  
        background-image: url(../img/BG/01.bg.jpg);
        background-repeat: repeat-y;
        background-position: center;
        background-size: auto;
        padding-top: 70px;
        padding-bottom: 240px;
        overflow: hidden;

        .button {
            display: inline-block;
        }
    }

} 

.header-navigation {
    margin-bottom: 30px;
    position: relative; 
 /*   z-index: 10; */
    padding-left: 15px;
    padding-right: 15px;

      // Медиа запрос для планшетов и выше //

      @media (min-width: 768px) {
        margin-bottom: 70px;
    }
    
    // Медиа запрос для декстопов //
    @media (min-width: 1200px) {
        margin-bottom: 152px;
    }

}


.header-container {
    display: flex;
    justify-content: space-between;  
    align-items: center; 
    max-width: 1430px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}


.logo-link {
   font-size: 38px;
   text-decoration: uppercase;
   font-weight: 900;
   color: #000000;      
   letter-spacing: 1.2px;
}

.header-logo {
    position: relative;
    z-index: 2; 
    font-size: 42px;
    text-decoration: uppercase;
    font-weight: 900;
    color: #000000;
    line-height: 1.2;
    letter-spacing: 1.2px;   
}


.header-logo::after {
    content: "";
    position: absolute; 
    bottom: 7px;
    left: -5px;
    right: -5px;
    height: 7px;
    background-color: #c7daee;
    z-index: -1;   
    
      // Медиа запрос для планшетов и выше //

      @media (min-width: 768px) {

    }
    
    // Медиа запрос для декстопов //
    @media (min-width: 1200px) {
        content: "";
        position: absolute; 
        bottom: 7px;
        left: -5px;
        right: -5px;
        height: 10px;
        background-color: #c7daee;
        z-index: -1;  
    }

}

.header-contacts {
    
    display: none;

      // Медиа запрос для планшетов и выше //

      @media (min-width: 768px) {

    }
    
    // Медиа запрос для декстопов //
    @media (min-width: 1200px) {
        display: block;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

}

.header-link {
    position: relative;
    font-size: 20px;
    font-weight: 700;
    margin-right: 74px; 
    color: #000;
    font-size: 20px;
    line-height: 1.2;
    z-index: 2;  
    letter-spacing: 1px;
}

.header-link:last-child {
    margin-right: 0;
}

.header-link::after {
    content: "";
    position: absolute;
    bottom: 5px;
    left: 0;
    width: 0;
    height: 5px;
    background-color: rgba(56, 102, 150, 0.4);
    transition: 0.5s;
    z-index: -1;
} 

.header-link:hover:after {
    width: 110%;
    left: -5px;
    right: -5px;

}

.header-link:focus {
    border-top-style: dotted;
    border-bottom-style: dotted;
    border-left-style: dotted;
    border-right-style: dotted;
    border-color: #ea736d;
}

.header-link:active:after {    
    bottom: 5px;
    height: 5px;
    left: -5px;
    right: -5px;
    background-color: #88b3e2; 
    z-index: -1;
} 

.header-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
    display: none;
    height: 30px;
      // Медиа запрос для планшетов и выше //

      @media (min-width: 768px) {

    }
    
    // Медиа запрос для декстопов //

    @media (min-width:1200px) {
        display: block;
    }
}

.social-icons {
    max-width: 50px;
    height: auto;
    display: inline-block;
    margin-right: 17px;

 
    &:last-child {
        margin-right: 0;
    }

    &:active {
        color: #0077b5;
    }
}

.social-icons icon-3 {
      max-width: 50px;       
    }


  .social-icons svg .icon-1 {
    fill: #000000;
    transition: 0.5s ease;    
} 

.social-icons:hover svg .icon-1 {
    fill: #eb4d97;
    transform: scale(1.01);
}
.social-icons:active svg .icon-1 {
    fill: #eb4d97;
    transform: scale(1.01);
}

    
.social-icons svg .icon-2 {
    fill: #000000;
    transition: 0.5s ease;
    }

.social-icons:hover svg .icon-2 {
    fill: #6cc644;
    transform: scale(1.01);
}
.social-icons:active svg .icon-2 {
    fill: #6cc644;
    transform: scale(1.01);
}

.social-icons svg .icon-3 {
    fill: #000000;
    transition: 0.5s ease;
}

.social-icons:hover svg .icon-3 {
    fill: #45668e;
    transform: scale(1.01);
}
.social-icons:active svg .icon-3 {
    fill: #45668e;
    transform: scale(1.01);
}

.header-content-wrapper {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center; 
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 2;

      // Медиа запрос для планшетов и выше //

      @media (min-width: 768px) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center; 
        width: 100%;
        height: 100%;
        position: relative;
        z-index: 2;
    }
    
    // Медиа запрос для декстопов //
    @media (min-width: 1200px) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end; 
        width: 100%;
        height: 100%;
        position: relative;
        z-index: 2;
    }

}

.header-title {
    font-family: 'Roboto', sans-serif;
    color: #000000;    
    font-size: 42px;
    font-weight: 800;
    text-align: left;
    line-height: 1.2;
    letter-spacing: 1.2px;
    margin-bottom: 25px;

      // Медиа запрос для планшетов и выше //

      @media (min-width: 768px) {
        font-size: 52px;
        margin-bottom: 15px;
    }
    
    // Медиа запрос для декстопов //
    @media (min-width: 1200px) {
         
        font-size: 90px;
        font-weight: 800;
        line-height: normal;
        margin-bottom: 12px;
    }

}


.header-block-text {
     width: 100%;

      // Медиа запрос для планшетов и выше //

      @media (min-width: 768px) {
        width: 50%;
        padding-bottom: 15px;
    }
    
    // Медиа запрос для декстопов //
    @media (min-width: 1200px) {
     /*   display: block; */
        width: 50%;
        padding-bottom: 0;
    }

    
}
.header-text { 
    color: #000000;    
    text-shadow: 0 3px 42px #ffffff;
    color: #393f47;   
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    letter-spacing: normal;
    line-height: 30px;
    text-align: left;
    margin-bottom: 33px;
      // Медиа запрос для планшетов и выше //

      @media (min-width: 768px) {
        width: 330px;
        margin-bottom: 0;
    }
    
    // Медиа запрос для декстопов //
    @media (min-width: 1200px) {      
        
        font-size: 24px;
        font-weight: 500;        
        line-height: 36px;
        margin-bottom: 33px;
        width: 100%;
    }

}

.header-img {    
    max-width: 290px;
    width: 100%;
    height: 290px;
    position: relative;    
    z-index: 2;
    margin-bottom: 52px;
       
  // Медиа запрос для планшетов и выше //

  @media (min-width: 768px) {
    width: 50%;      
    max-width: 295px;   
    margin-bottom: 0;
    margin: 0 auto;
    height: auto;
}

// Медиа запрос для декстопов //
@media (min-width: 1200px) {
    max-width: 457px;
    width: 50%;
    text-align: right;
    padding-left: 0;
    margin: 0;
    height: 407px;

    img {
    width: 100%;
    height: 100%;
    vertical-align: middle;
    object-fit: cover;
    }
   }
}    
       
.header-img::before {  
    content: "";
    display: block;
    position: absolute;
    top: 10%;
    left: 10%;
    width: 100%;
    height: 100%;
    background-color: rgba(244, 248, 249, 0.5); 
     z-index: -1;  

      // Медиа запрос для планшетов и выше //

      @media (min-width: 768px) {

    }
    
    // Медиа запрос для декстопов //
    @media (min-width: 1200px) {
        top: 30%;
        left: 30%;
    }

    
}

.header-buttons {
    display: flex;
    justify-content: flex-start; 
    align-items: center;
}

.header-content-img {          
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 82px; 
    transform: scale(1.77);

        img {  
            max-width: 100%; 
            vertical-align: top;
            overflow: hidden;
        }  

      // Медиа запрос для планшетов и выше //

      @media (min-width: 768px) {
        transform: unset;
        margin-top: -48px;
        margin-left: -10px;
    }
    
    // Медиа запрос для декстопов //
    @media (min-width: 1200px) {
        max-width: 1600px;
        margin-left: auto;
        margin-right: auto;
        margin-top: -130px; 
        z-index: -1;       
     
    }

}


.header-social-icons {
     width: 100%; 
     // Медиа запрос для планшетов и выше //

     @media (min-width: 768px) {
        width: 48%; 
        .title-medium {
            margin-bottom: 21px;
        }
    }
    
    // Медиа запрос для декстопов //
    @media (min-width: 1200px) {
        width: 31%; 
        .title-medium {
            margin-bottom: 36px;
        }
    }

}

.title-medium { 
    text-shadow: 0 3px 42px #ffffff;
    color: #000000; 
    font-size: 30px;
    font-weight: 800;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
    margin-bottom: 26px;
    // Медиа запрос для планшетов и выше //

    @media (min-width: 768px) {
        margin-bottom: 30px;
        letter-spacing: 2.0px;
        font-size: 32px;
    }
    
    // Медиа запрос для декстопов //
    @media (min-width: 1200px) {
        font-size: 40px;      
        letter-spacing: normal;
        margin-bottom: 35px;
    }

}



.list-content {    
    text-shadow: 0 3px 42px #ffffff;
    color: #000000;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    font-style: normal; 
    margin-bottom: 37px;
  /*  letter-spacing: 1px; */
    
    // Медиа запрос для планшетов и выше //

    @media (min-width: 768px) {
        margin-bottom: 0;
    }
    
    // Медиа запрос для декстопов //
    @media (min-width: 1200px) {
        font-size: 24px;     
        line-height: 38px;      
        margin-bottom: 38px;       
    }
}

.list-text {
    margin-bottom: 18px;

    &:last-child {
        margin-bottom: 0;
    }
   // Медиа запрос для планшетов и выше //

   @media (min-width: 768px) {

}

// Медиа запрос для декстопов //
@media (min-width: 1200px) {
    margin-bottom: 0;
}

}

.social-icons-item {
    width: 50px;
    display: inline-block;
    margin-right: 32px;
  
    &:last-child {
        margin-right: 0;
    }
}
 
.header-list {
    max-width: 250px; 

  // Медиа запрос для планшетов и выше //

  @media (min-width: 768px) {
    width: 50%; 
    max-width: unset;
}

// Медиа запрос для декстопов //
@media (min-width: 1200px) {
    width: 60%; 
}

}

.social-block {
    display: flex;
    flex-direction: row;     
}

.mail-link-block {
    margin-top: 16px;
    @media (min-width: 768px) {
        margin-top: 26px;
    }
    
    // Медиа запрос для декстопов //
    @media (min-width: 1200px) {
    bottom: 1px solid red;
        
    }

}

.header-scils-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;

    .button {
        margin-right: 0;
    }
    
      // Медиа запрос для планшетов и выше //

      @media (min-width: 768px) {
        flex-direction: row;
        margin-top: -64px;
       
    }
    
    // Медиа запрос для декстопов //
    @media (min-width: 1200px) {
        display: flex;
        justify-content: space-between;
        flex-direction: row;        
        margin-top: -94px;
        margin-left: -4px;
    }

}


.list-content {
 
  // Медиа запрос для планшетов и выше //

  @media (min-width: 768px) {

}

// Медиа запрос для декстопов //
@media (min-width: 1200px) {
    .list-text:before {
        content:  " — ";  
   }
}
}

.letter-big {
    display: inline-block;
    // Медиа запрос для планшетов и выше //

    @media (min-width: 768px) {

    }
    
    // Медиа запрос для декстопов //
    @media (min-width: 1200px) {
        display: none;
    }

}

.letter-little {
    display: none;
    // Медиа запрос для планшетов и выше //

    @media (min-width: 768px) {

    }
    
    // Медиа запрос для декстопов //
    @media (min-width: 1200px) {
        display: inline-block;
    }
}

br {
    display: block;
    // Медиа запрос для планшетов и выше //

    @media (min-width: 768px) {
        display: none;
    }
    
    // Медиа запрос для декстопов //
    @media (min-width: 1200px) {
        display: block;
    }
}

