.mobile-menu {
    position: fixed;
    top: 0;
    right: 0;
    
    height: 700px;
    width: 100%;
    max-width: 400px;
    background-color: rgb(150, 192, 65);
    z-index: 5;
    transform: translateX(100%);
    transition: 1s;

    @media (min-width:1200px) {
        display: none;
    }
}

.mobile-menu.active {
    transform: translateX(0);
}
