.mobile-menu {
    position: fixed;
    top: 0;
    right: 0;    
    height: 700px;
    width: 100%;
    max-width: 320px;
    background-color: #ffffff;
    z-index: 12;
    transform: translateX(100%);
    transition: 1s;
    padding: 28px;
    .social-block {
        margin-bottom: 35px;
    }
    
      // Медиа запрос для планшетов и выше //

     

    @media (min-width:1200px) {
        display: none;
    }
}

.mobile-menu.active {
    transform: translateX(0);
    z-index: 12;

    @media (min-width: 768px) {
        
        transform: translateX(0);
    }
}

.mobile-menu {
.header-link {
    border-bottom: 1px solid #000000;
    margin-bottom: 27px;

    &:hover {
        border-bottom: none;
    }
}

     &:after {
    border-bottom: none;
}

    &:focus {
        border-bottom: none;
    }
}

.mobile-menu {
    .header-logo {    
        margin-bottom: 30px;
    }

    .social-icons-item {
        
        margin-right: 17px;
    }

    ul {
        margin-bottom: 20px;
    }

    .link-style {
        color: #039be5;
        border-bottom: 2px solid #039be5;
    }
  
    .header-link:after {    
        content: "";
        position: absolute;
        bottom: 3px;
        left: 0;
        width: 0;
        height: 5px;
        background-color: rgba(56, 102, 150, 0.4);
        transition: 0.5s;
        z-index: -1;
    } 

    .header-link:hover:after {
        width: 110%;
        left: -5px;
        right: -5px;
    
    }
}

  