.section-contacts {
    max-width: 320px;
    padding-top: 52px;
    padding-bottom: 66px;
    background-color: #f4f8f9;
    font-family: 'Roboto';
    margin-left: auto;
    margin-right: auto;
    color: var(--text);

    .sections-title {
        font-size: 42px;
        color: var(--text);
        font-weight: 800;
        line-height: 1.2;
        text-align: center; 
        margin-bottom: 40px; 
    /*    letter-spacing: 2.2px;  */
    }

    .button {
        width: 100%;
        font-size: 20px;
        height: 54px;
        line-height: 54px;        
    }

    li {
      /*  margin-bottom: 28px; */
    }

    li:last-child {
        margin-bottom: 0;
    }
    .link-style { 
       /*font-size: 18px;*/
       color: #039be5;      
       border-bottom: none;        
        &:hover {            
            color: #ea655f;
        }
    
        &:active {          
            color: #ea655f;
        }
    }

    .line-bottom::after {
        bottom: 8px;
        left: -2px;
        right: -2px;
        height: 12px;         
    }  

    

    @media (min-width: 768px) {
        max-width: 768px;
        padding-top: 78px;
        padding-bottom: 90px;
        margin-left: 0;
        margin-right: 0;
        
        .sections-title {
            font-size: 52px;
            margin-bottom: 62px;
        }

        .line-bottom::after {
            bottom: 8px;
            left: -5px;
            right: -5px;
            height: 12px;         
        }  
    }
    
    // Медиа запрос для декстопов //
    @media (min-width: 1200px) {
    max-width: unset;             
    padding-top: 140px;
    padding-bottom: 150px;
    background-image: url(../img/BG/02.bg.jpg);
    background-repeat: repeat-y;
    background-position: center;
    background-size: auto;
  
    .sections-title {
        font-size: 64px;
        color: var(--text);
        font-weight: 800;
        line-height: 1.2;
        text-align: center; 
        margin-bottom: 65px; 
        letter-spacing: 2.2px;  
    }

    li {
        
    }

    li:last-child {
        margin-bottom: 0;
    }
    .link-style { 
        font-size: 18px;
       color: #039be5;      
       border-bottom: none;        
        &:hover {            
            color: #ea655f;
        }
    
        &:active {          
            color: #ea655f;
        }
    }

    .line-bottom::after {
        bottom: 8px;
        left: -3px;
        right: -3px;
        height: 12px;         
    }  
    .button {
        width: unset;
        height: 64px;
        line-height: 64px;  
        font-size: 22px;
        font-weight: 700;
    }
    }
}

.content-contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 

      // Медиа запрос для планшетов и выше //

      @media (min-width: 768px) {
        display: flex;
        flex-direction: row;
        justify-content: space-between; 
    }
    
    // Медиа запрос для декстопов //
    @media (min-width: 1200px) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;   
    }

}

.contacts-address {
    
margin-bottom: 50px;
    // Медиа запрос для планшетов и выше //

    @media (min-width: 768px) {
        width: 290px;
        margin-bottom: 0;
    }
    
    // Медиа запрос для декстопов //
    @media (min-width: 1200px) {
        margin-bottom: 0;
        width: 500px;    
        padding-top: 20px; 
        position: relative; 
        z-index: 2;
    }

}

.contacts-address::before {
    display: none;
      // Медиа запрос для планшетов и выше //

      @media (min-width: 768px) {

    }
    
    // Медиа запрос для декстопов //
    @media (min-width: 1200px) {      
    position: absolute;
    content: "";
    top: 0;
    left: -330px;
    width: 405px;
    height: 273px;
    background-image: url(../img/BG/bg.dots.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    z-index: -1;
}
}

.text-contacts {
    font-size: 16px;
    color: var(--text);
    line-height: 26px;
    text-align: left;
    font-weight: 400px;
    margin-bottom: 25px;   
    
      // Медиа запрос для планшетов и выше //

      @media (min-width: 768px) {
       font-size: 18px;
       line-height: 28px;
       margin-bottom: 30px;
    }
    
    // Медиа запрос для декстопов //
    @media (min-width: 1200px) {
        font-size: 20px;
        color: var(--text);
        line-height: 1.6;
        text-align: left;
        margin-bottom: 40px;  
    }

}

.contacts-inner {
  /*  display: flex;
    flex-direction: column;
    justify-content: space-between;   
    color: var(--text);    
    margin-bottom: 50px;  */
    margin-bottom: 33px;
      // Медиа запрос для планшетов и выше //

      @media (min-width: 768px) {

    }
    
    // Медиа запрос для декстопов //
    @media (min-width: 1200px) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;   
        color: var(--text);    
        margin-bottom: 50px;   
    }

}


.contacts-list {
    
}

.contacts-list-item {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2;   
    list-style-type: none;
}

.contacts-link {
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 1.2;
    text-align: left;
    transition: 0.2s ease;
    color: #039be5;  
   
   
}

.contacts-list-inform {
    text-align: left;
    li {
        margin-bottom: 17px;
        font-size: 18px;
        color: rgb(150, 150, 157);
        line-height: 1.2;
    }

      // Медиа запрос для планшетов и выше //

      @media (min-width: 768px) {
        text-align: left;
        li {
            margin-bottom: 12px;
            font-size: 20px;
            color: rgb(150, 150, 157);
            line-height: 1.2;
        }

    }
    
    // Медиа запрос для декстопов //
    @media (min-width: 1200px) {
        text-align: left;
        li {
            margin-bottom: 28px;
            font-size: 20px;
            color: rgb(150, 150, 157);
            line-height: 1.2;
    }
    }
}

.contacts-form {
    width: 290px; 
    height: auto;    
    border-color: rgb(234, 234, 234);
    background-color: rgb(255, 255, 255);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(234, 234, 234);
    box-shadow: 0px 28px 100px 0px rgba(194, 219, 235, 1);
   /* padding-top: 40px; */
    padding-bottom: 33px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;

      // Медиа запрос для планшетов и выше //

      @media (min-width: 768px) {
        width: 340px;
        margin-right: 0;
        margin-left: 0;
        padding-left: 30px;
        padding-right: 20px;
        height: 100%;
        padding-bottom: 45px;
    }
    
    // Медиа запрос для декстопов //
    @media (min-width: 1200px) {
        width: 511px;  
        height: auto;    
        border-color: rgb(234, 234, 234);
        background-color: rgb(255, 255, 255);
        border-width: 1px;
        border-style: solid;
        border-color: rgb(234, 234, 234);
        box-shadow: 0px 28px 100px 0px rgba(194, 219, 235, 1);
        padding-top: 40px;
        padding-bottom: 40px;
        padding-left: 55px;
        padding-right: 55px;
        margin-right: 25px;
        margin-left: auto;
    }

}

  .form-item {
    position: relative;
    padding-top: 40px;
    margin-bottom: 14px;

      // Медиа запрос для планшетов и выше //

      @media (min-width: 768px) {
        margin-bottom: 16px;
    }
    
    // Медиа запрос для декстопов //
    @media (min-width: 1200px) {
        padding-top: 40px;
        margin-bottom: 25px; 
    }

  }


  
  label {
    position: absolute;
    top: 43px; 
 
    transition: top 0.5s;
  }
  
  input,
  textarea {
    display: block;
    width: 100%;   
    margin: auto;
    border: none;   
    border-bottom: 1px solid #eaeaea; 
}
  
  textarea {
    min-height: 100px;
    outline: none;
    resize: none;
  }
  

  input:focus,
  textarea:focus {
    outline: none;
    background-size: 100% 100%, 100% 100%;
    transition-duration: 0.3s;
    box-shadow: none;
    color: var(--text);
  }
  
  input:focus+label,
  input:not(:placeholder-shown)+label,
  textarea:focus+label,
  textarea:not(:placeholder-shown)+label {
    font-size: 14px;
    top: 10px;
    color: rgb(237, 150, 38);
  }
  
  ::-webkit-input-placeholder {
    opacity: 0;
  }
  
  input:focus::-webkit-input-placeholder,
  textarea:focus::-webkit-input-placeholder {
    opacity: 1;
  }

  textarea, input
{
  outline: none;
 
}
  textarea:focus, input:focus
{
  outline: none;
}

.form-text {
    font-size: 20px;  
    color: #cecece;
    font-weight: 500;
    line-height: 1.2;
    text-align: left;

    &:focus {
        font-size: 16px; 
        color: rgb(237, 150, 38);
    }
}

.form-field {
    height: 50px;
    font-size: 20px;
    color: var(--text);
    font-weight: bold;
    line-height: 1.2;
    text-align: left;
}

.form-field:last-child {
    height: 70px;
}

textarea {
    .form-field{
        height: 120px;
    }
}

.contacts-content-img {  
    position: relative;
    max-width: 400px;  
}

.move-quot {      
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    opacity: 0.3;
    max-width: 200px;

}

.list-inform-item {
   display: block;
   color: #000000;
   font-size: 18px;
   font-weight: 700;   
   text-align: left;
   margin-bottom: 5px;
   // Медиа запрос для планшетов и выше //

   @media (min-width: 768px) {

}

// Медиа запрос для декстопов //
@media (min-width: 1200px) {
    display: inline-block;
    color: #000000;
    font-size: 20px;
    font-weight: 700;
    width: 190px;
    text-align: left; 
    margin-bottom: 0;
}

}

.inform-item-text {
    display: inline;
}

.form-item:last-child {
    margin-bottom: 15px;
}
